# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=StrongDBPass_123
NGINX_PORT=5433

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Odoo XML-RPC (used by parser + AI workers)
ODOO_URL=http://odoo:8069
ODOO_DB=postgres
ODOO_USER=admin
ODOO_PASSWORD=admin

# Frontend
VITE_ODOO_URL=http://localhost:5433

# AI model
HF_MODEL_NAME=Qwen/Qwen2.5-1.5B-Instruct
HF_CACHE_DIR=/app/model_cache
LORA_ADAPTER_PATH=/app/lora_adapter